<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/tyyli.css">
</head>
<body>
   
    <header>
        <h1>Portfolio</h1>
        <div class="logo">
        <img src="images/silppu.png" alt="LinkinWD logo">
        </div>
        <div class="ajokortti">
            <div class="kuva">
            <img src="images/jarmomv.png" alt="minäkuva">
            </div>
            <div class="teksti">
                <div>
                <p>Opiskelija</p>
                <p>Jarmo Lindström</p>
                </div>
                <div>
                <p>Suuntaus</p>
                <p>Front-end kehittäjä</p>
                </div>
            </div>
    </div>
    </header>
    <main>
        <h3>Mihin olen suuntautumassa?</h3>
        <div class="kaavio">
        <canvas id="donitsi"></canvas>
    </div>
    </main>
    <footer>
        <h3>Github</h3>
    </footer>
   
    <script src="javascripts/chart.bundle.min.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>