<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vieraskirja</title>
</head>
<body>
    <h1>Vieraskirja</h1>
    <p>Tervetuloa vieraskirjaan</p>
    <ul>
        <% for(merkintä of vieraskirja) { %>
            <li>Tekijä: <%= merkintä.kirjoittaja %> Tehty: <%= merkintä.koska %>  </li>
            <li>Kommentti: <%= merkintä.kommentti %> </li>
        <% } %> 
    </ul>
</body>
</html>