<% layout('/layouts/boilerplate') %> 
    <h1>Vieraskirja</h1>
    <p>Tervetuloa vieraskirjaan</p>
    <ul>
        <% for(merkintä of vieraskirja) { %>
            <li>Tekijä: <%= merkintä.kirjoittaja %> Tehty: <%= merkintä.koska %>  </li>
            <li>Kommentti: <%= merkintä.kommentti %> </li>
            <a href="/vieraskirja/<%= merkintä._id %>/edit">Muokkaa tai poista kommentti</a> 
        <% } %>
        
    </ul>

