<% layout('/layouts/boilerplate')%>

<!-- bootstrap hoitaa formien validoinnin. muista novalidate, required ja oma luokka, jota scripti ettii-->

<h1>Lisää uusi tuote</h1>
        <form action="/vieraskirja" method="post" novalidate class="validoi-tämä">
            <div class="mb-3">
                <label for="kirjoittaja">Keneltä:</label>
                <input class="form-control" type="text" id="kirjoittaja" name="vieraskirja[kirjoittaja]" required>
                <div class="invalid-feedback">
                    Tämä kenttä pitää täyttää
                  </div>
            </div>
            <div>
                <label for="kommentti">kommentti:</label>
                <input class="form-control" type="text" id="kommentti" name="vieraskirja[kommentti]" required>
                <div class="invalid-feedback">
                    Tämä kenttä pitää täyttää
                  </div>
            </div>
        <button class="mt-3 btn btn-primary">Lisää uusi tervehdys</button>
        </form>
    
       