
    
<% layout('/layouts/boilerplate')%>

<h1>Lisää uusi kirjoitus.</h1>
        <form action="/vieraskirja" method="post">
            <div class="mb-3">
                <label for="kirjoittaja">Kirjoittajan nimi</label>
                <input type="text" id="kirjoittaja" name="vieraskirja[kirjoittaja]">
            </div>
            <div>
                <label for="kommentti">Kommentti:</label>
                <input type="text" id="kommentti" name="vieraskirja[kommentti]">
            </div>
        <button>Kirjoita kommentti</button>
        </form>

        