@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #dae7e7;
  position: relative;
}

.otsikko {
  height: 20vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #bc6ff1;
  padding: 20px;
  background: #dae7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.otsikko h1 {
  padding: 20px;
  -webkit-box-shadow: 10px 10px 30px #b9c4c4, -10px -10px 30px #fbffff;
          box-shadow: 10px 10px 30px #b9c4c4, -10px -10px 30px #fbffff;
  border-radius: 20px;
  font-size: clamp(3.3em, 4vw, 5em);
  font-weight: 700;
}

header {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .taustapallo1 {
  position: absolute;
  top: 55vh;
  left: 50vw;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 10px 10px, #f4d47c, #000);
  border-radius: 50%;
}

header .taustapallo2 {
  position: absolute;
  top: 50vh;
  right: 50vw;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 10px 10px, #03dac6, #000);
  border-radius: 50%;
}

header .taustapallo3 {
  position: absolute;
  top: 55vh;
  left: 50vw;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 10px 10px, #bc6ff1, #000);
  border-radius: 50%;
}

header .taustapallo4 {
  position: absolute;
  top: 60vh;
  right: 50vw;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle at 10px 10px, #bc6ff1, #000);
  border-radius: 50%;
}

header .ajokortti {
  z-index: 2;
  width: 500px;
  height: 300px;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.65)));
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.65));
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

header .ajokortti .logo {
  width: 60%;
  margin: auto;
}

header .ajokortti .logo img {
  width: 300px;
}

header .ajokortti .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 0.5;
}

header .ajokortti .container img {
  width: 130px;
}

header .ajokortti .container .teksti {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (20%)[5];
      grid-template-rows: repeat(5, 20%);
  font-size: clamp(0.7em, 2.5vw, 1em);
}

/* toinen osio alkaa tästä */
main .esittely {
  margin: auto;
  width: 450px;
  height: 600px;
  background: #121212;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 20px;
  -webkit-box-shadow: inset -8px -8px 8px #141414;
          box-shadow: inset -8px -8px 8px #141414;
}

main .esittely h5 {
  font-size: clamp(1.28em, 2.5vw, 2em);
  padding: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}

main .esittely .kaavio {
  position: relative;
  padding-top: 20px;
  width: 400px;
  height: auto;
  margin: auto;
  -webkit-box-shadow: 8px 8px 6px #080808, -8px -8px 6px #1c1c1c;
          box-shadow: 8px 8px 6px #080808, -8px -8px 6px #1c1c1c;
}

main .esittely .taidot {
  color: rgba(255, 255, 255, 0.6);
  margin: auto;
  height: 200px;
  width: 400px;
  -webkit-box-shadow: inset 8px 8px 6px #080808, inset -8px -8px 6px #1c1c1c;
          box-shadow: inset 8px 8px 6px #080808, inset -8px -8px 6px #1c1c1c;
}

main .esittely .taidot p {
  text-align: center;
  padding-top: 25px;
  font-size: clamp(0.8em, 2.5vw, 1.2em);
  line-height: 0.8;
}

footer {
  margin-top: 40px;
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
}

footer h3 {
  margin: 20px;
  font-size: clamp(1.2em, 2.5vw, 2em);
}

footer button {
  padding: 20px 20px;
  background: #5c5757;
  -webkit-box-shadow: 26px 26px 59px #1b1a1a, -6px -6px 9px #1d1b1b;
          box-shadow: 26px 26px 59px #1b1a1a, -6px -6px 9px #1d1b1b;
  color: rgba(255, 255, 255, 0.6);
}

footer button a {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

footer button a:hover {
  color: #bc6ff1;
}

footer button i {
  font-size: 2rem;
  padding-left: 10px;
}

footer h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: clamp(1em, 2vw, 1.5em);
}

/* Mediaqueries */
@media screen and (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .ajokortti {
    z-index: 2;
    width: 300px;
    height: 400px;
  }
  header .ajokortti .logo {
    padding-top: 60px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
  header .ajokortti .logo img {
    width: 200px;
  }
  header .ajokortti .container {
    padding-top: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .ajokortti .container img {
    width: 130px;
  }
  header .ajokortti .container .teksti {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (20%)[5];
        grid-template-rows: repeat(5, 20%);
    font-size: clamp(0.7em, 2.5vw, 1em);
  }
  main .esittely {
    margin: auto;
    width: 350px;
    height: 500px;
  }
  main .esittely .kaavio {
    position: relative;
    padding-top: 20px;
    width: 300px;
    height: auto;
    margin: auto;
    -webkit-box-shadow: 8px 8px 6px #080808, -8px -8px 6px #1c1c1c;
            box-shadow: 8px 8px 6px #080808, -8px -8px 6px #1c1c1c;
  }
  main .esittely .taidot {
    color: rgba(255, 255, 255, 0.6);
    margin: auto;
    height: 160px;
    width: 300px;
    -webkit-box-shadow: inset 8px 8px 6px #080808, inset -8px -8px 6px #1c1c1c;
            box-shadow: inset 8px 8px 6px #080808, inset -8px -8px 6px #1c1c1c;
  }
  main .esittely .taidot p {
    padding: 10px;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
  }
}
/*# sourceMappingURL=tyyli.css.map */