* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;

	position: relative;
}

header {
	height: 100vh;
	background-image: linear-gradient(#f0f40d, #a70ac0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	h1 {
		color: #a12ec9;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: clamp(4em, 6vw, 6em);
	}
	.taustapallo1 {
		position: absolute;
		top: 25vh;
		left: 25vw;
		z-index: 1;
		width: 250px;
		height: 250px;
		background-color: black;
	}
	.taustapallo2 {
		position: absolute;
		top: 35vh;
		right: 25vw;
		z-index: 1;
		width: 250px;
		height: 250px;
		background-color: black;
	}
	.taustapallo3 {
		position: absolute;
		top: 55vh;
		right: 5vw;
		z-index: 1;
		width: 250px;
		height: 250px;
		background-color: black;
	}
	.ajokortti {
		z-index: 2;
		width: 800px;
		height: 500px;

		background: linear-gradient(to top right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.65));

		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		.logo {
			padding: 20px;
			text-align: center;
		}
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 70%;
			}
			.teksti {
				display: grid;
				grid-template-rows: repeat(5, 20%);
				font-size: clamp(1.5em, 4vw, 2em);
			}
		}
	}
}

main {
	background-image: linear-gradient(#a70ac0, #f0f40d);

	h3 {
		padding: 40px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: clamp(2em, 4vw, 4em);
		text-align: center;
	}
	.kaavio {
		position: relative;
		width: 50vw;
		height: 50vh;
		margin: auto;
	}
	.pallo1 {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: brown;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.pallo2 {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: brown;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

footer {
	height: 100vh;
	background-image: linear-gradient(#f0f40d, #fdfdfa);
}
