* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f40d), to(#a70ac0));
  background-image: linear-gradient(#f0f40d, #a70ac0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header h1 {
  color: #a12ec9;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(4em, 6vw, 6em);
}

header .pallo1 {
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 1;
  width: 250px;
  height: 250px;
  background-color: black;
}

header .pallo2 {
  position: absolute;
  top: 35vh;
  right: 25vw;
  z-index: 1;
  width: 250px;
  height: 250px;
  background-color: black;
}

header .pallo3 {
  position: absolute;
  top: 55vh;
  right: 5vw;
  z-index: 1;
  width: 250px;
  height: 250px;
  background-color: black;
}

header .ajokortti {
  z-index: 2;
  width: 40vw;
  height: 500px;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.65)));
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.65));
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

header .ajokortti .logo {
  padding: 20px;
  text-align: center;
}

header .ajokortti .gridi {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: clamp(1em, 2vw, 2em);
  line-height: 0;
}

header .ajokortti .gridi .kuva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .ajokortti .gridi .kuva img {
  width: 70%;
  width: 70%;
}

header .ajokortti .gridi .teksti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a70ac0), to(#f0f40d));
  background-image: linear-gradient(#a70ac0, #f0f40d);
}

main h3 {
  padding: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(2em, 4vw, 4em);
  text-align: center;
}

main .kaavio {
  position: relative;
  width: 50vw;
  height: 50vh;
  margin: auto;
}

footer {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f40d), to(#fdfdfa));
  background-image: linear-gradient(#f0f40d, #fdfdfa);
  margin-top: -20px;
}
/*# sourceMappingURL=tyyli.css.map */