<% layout('/layouts/boilerplate') %> 
<div class="header">
<h1 class="display-1 text-center">Ruokala</h1>
</div>
<div class="row">
    <div class="col-lg-6">
<!-- myymälä -->
            <div class="header row">
            <h1 class="text-center">Myytävänä olevat tuotteet</h1>
                <div class="col-sm-3 d-none d-md-block">
                  <h5>Tuote</h5>
                </div>
                <div class="col-3 d-none d-md-block">
                  <h5>annoskoko</h5>
                </div>
                <div class="col-3 d-none d-md-block">
                  <h5>Määrä</h5>
                </div>
                <div class="col-3 d-none d-md-block">
                  <h5>Hinta</h5>
                </div>
            <% for(tuote of tuotteet) { %> 
                <div class="col-sm-3 lh-1">
                  <p><strong><%= tuote.nimi %></strong></p>
                </div>
                <div class="col-sm-3 lh-1">
                  <p><span class="d-md-none">annoskoko: </span><%= tuote.annoskoko %></p>
                </div>
                <div class="col-sm-3 lh-1">
                  <p><span class="d-md-none">Jäljellä: </span><%= tuote.määrä %> annosta</p> 
                </div>
                <div class="col-sm-3 lh-1">
                  <p><span class="d-md-none">Hinta: </span><%= tuote.hinta %> €</p>
                </div>
                <hr>
            <% } %> 
          
            </div>
           
    </div>



<!-- kuvagalleria -->
<div class="col-lg-6  d-none d-lg-block">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/pic1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic8.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/pic9.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
</div>


<div class="d-flex flex-column m-4">
<a class="btn btn-warning" href="/ruokala/tilaa">Tilaa ruokia </a>
</div>




