<% layout('/layouts/boilerplate')%>

<!-- bootstrap hoitaa formien validoinnin -->

<h1>Lisää uusi tuote</h1>
        <form action="/ruokala" method="post" novalidate class="validoi-tämä">
            <div class="mb-3">
                <label class="form-label" for="ruuannimi">ruuan nimi:</label>
                <input class="form-control" type="text" id="ruuannimi" name="ruokala[nimi]" required>
                <div class="invalid-feedback">
                    Tämä kenttä pitää täyttää
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="annoskoko">annoskoko:</label>
                <input class="form-control" type="text" id="annoskoko" name="ruokala[annoskoko]" required>
                <div class="invalid-feedback">
                    Tämä kenttä pitää täyttää
                  </div>
            </div>
            <div>
                <label class="form-label" for="hinta">Hinta:</label>
                <input class="form-control" type="number" id="hinta" name="ruokala[hinta]" required>
                <div class="invalid-feedback">
                    Tämä kenttä pitää täyttää
                  </div>
            </div>
            <div>
                <label class="form-label" for="annos">Montako annosta:</label>
                <input class="form-control" type="number" id="annos" name="ruokala[määrä]" required>
                <div class="invalid-feedback">
                    Tämä kenttä pitää täyttää
                  </div>
            </div>
        <button class="btn btn-warning mt-2" >Lisää uusi tuote</button>
        </form>

        <a href="/ruokala/kassa" class="btn btn-warning mt-5">Palaa kassalle</a>

       